THUCLUC_BACKEND_IMAGE=thucluc-backend:1.0.0
RELEASE_VERSION=1.0.0
COMMIT_SHA=unknown
BACKEND_PORT=8080

ORACLE_CONNECTION_STRING=User Id=CAND_QLCNTT;Password=CHANGE_ME;Data Source=oracle.internal:1521/CAND_QLCNTT
ORACLE_SCHEMA=CAND_QLCNTT

JWT_ISSUER=thucluc-api
JWT_AUDIENCE=thucluc-web
JWT_SIGNING_KEY=CHANGE_TO_A_RANDOM_SECRET_OF_AT_LEAST_32_CHARACTERS
JWT_ACCESS_TOKEN_MINUTES=480
JWT_REFRESH_TOKEN_DAYS=7

MINIO_SERVICE_URL=http://infra.internal:9000
MINIO_ACCESS_KEY=CHANGE_ME
MINIO_SECRET_KEY=CHANGE_ME
MINIO_BUCKET_NAME=thuc-luc
MINIO_USE_SSL=false

PDF_USE_GOTENBERG=true
GOTENBERG_URL=http://infra.internal:3000
FRONTEND_ORIGIN=http://frontend.internal
