MINIO_IMAGE=minio/minio:CHANGE_TO_TESTED_RELEASE
MINIO_MC_IMAGE=minio/mc:CHANGE_TO_MATCHING_TESTED_RELEASE
MINIO_ROOT_USER=CHANGE_ME
MINIO_ROOT_PASSWORD=CHANGE_ME
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_NAME=thuc-luc

GOTENBERG_IMAGE=gotenberg/gotenberg:8
GOTENBERG_PORT=3000
