ORACLE_CONNECTION_STRING=User Id=CAND_QLCNTT;Password=CHANGE_ORACLE_PASSWORD;Data Source=127.0.0.1:1521/CHANGE_ORACLE_SERVICE
ORACLE_SCHEMA=CAND_QLCNTT

JWT_SIGNING_KEY=CHANGE_TO_RANDOM_STRING_AT_LEAST_32_CHARACTERS

MINIO_ACCESS_KEY=CHANGE_MINIO_ACCESS_KEY
MINIO_SECRET_KEY=CHANGE_MINIO_SECRET_KEY
MINIO_BUCKET_NAME=thuc-luc
MINIO_SERVICE_URL=http://10.10.79.248:9000

FRONTEND_ORIGIN=http://10.10.79.248:8081
